<div class="card">
    <div class="avatar">
        <img src =images/john.jpg >
    </div>
    <h2>John<h2>
    <h3>USA , 26</h3>
    <div class="description">
    <%= render "/layouts/tab.html.erb" %>
    <button class="button1"><span>Come surf with me ! </span></button>
    </div>
    
</div>
<div class="tab">

</div>

