<!DOCTYPE html>
<html>
<div class="navbar">
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">♣</a>
    <div class="dropdown-content">
      <a href="#">Mon profil</a>
      <a href="#">Compétition</a>
      <a href="#">Forum</a>
    </div>
  </li>
  <li><a href="#home">Live du jour</a></li>
  <li><a href="#news">Gallerie</a></li>
  </style>
</ul>
</div>
</html>